<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>full camera.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2118F54423EFB55B00E2D481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2118F55F23EFB55D00E2D481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2118F56A23EFB55D00E2D481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
